services:
	-
		class: Nextras\OrmPhpStan\Reflection\EntityRelationshipPropertyReflectionExtension
		tags:
			- phpstan.broker.propertiesClassReflectionExtension
	-
		class: Nextras\OrmPhpStan\Reflection\EntityDateTimePropertyReflectionExtension
		tags:
			- phpstan.broker.propertiesClassReflectionExtension
	-
		class: Nextras\OrmPhpStan\Rules\SetValueMethodRule
		tags:
			- phpstan.rules.rule
