parameters:
	scanDirectories:
		- %rootDir%/../../../tests/testbox
	paths:
		- ../src

services:
	errorFormatter.rawSimple:
		class: NextrasTests\OrmPhpStan\RawSimpleErrorFormatter

includes:
	- ../extension.neon
