name: "Build"

on:
  pull_request:
    types: [ "opened", "synchronize", "edited", "reopened" ]
  push:
    branches:
      - master
      - v*.*

env:
  php-tools: "composer:v2, pecl"

jobs:
  tests:
    name: Tests

    strategy:
      fail-fast: false
      matrix:
        php-version: [ '7.1', '7.2', '7.3', '7.4' ]
        deps: [ 'lowest', 'newest' ]
        exclude:
          - php-version: '7.2'
            deps: lowest
          - php-version: '7.3'
            deps: lowest
          - php-version: '7.4'
            deps: lowest

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP with pecl extension
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: mbstring, intl, ctype, json
          tools: ${{ env.php-tools }}

      - name: Get composer cache directory
        id: composercache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.composercache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('composer.json') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install dependencies
        if: matrix.deps == 'newest'
        run: composer update --prefer-dist --no-interaction --no-progress --no-suggest

      - name: Install lowest dependencies
        if: matrix.deps == 'lowest'
        run: composer update --prefer-dist --no-interaction --no-progress --no-suggest --prefer-lowest --prefer-stable

      - name: Tests
        run: ./vendor/bin/tester -C ./tests/test.php

      - name: PHPStan
        run: ./vendor/bin/phpstan analyze

      - name: Print failed expectations
        if: ${{ failure() }}
        run: |
          find tests -name \*.actual -exec echo "--- {}" \; -exec cat {} \; -exec echo \; -exec echo \; && \
          find tests -name \*.log -exec echo "--- {}" \; -exec cat {} \; -exec echo \; -exec echo \;
